<% content_for :title do %>
    タイピング大会
<% end %>
<% content_for :font do %>
    <link
      href="https://fonts.googleapis.com/css?family=Teko"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap"
      rel="stylesheet"
    />
<% end %>
<% content_for :stylesheet do %>
    <%= stylesheet_link_tag "user/signup", "data-turbo-track": "reload" %>
<% end %>
<% content_for :javascript do %>
    <%= javascript_include_tag 'user/conf', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'user/session', 'data-turbolinks-track': 'reload' %>
<% end %>

    <header>
      <a href="/">
        <div class="headerTitle">
          <div class="container"><h2>TECH.<span>C</span>.</h2></div>
          <div class="container">
            <h3>CREATORS FES</h3>
            <p>20<span>22</span></p>
          </div>
        </div>
      </a>
    </header>
    <div class="wave">
      <article class="form">
        <form action="">
          <div class="correct">登録完了</div>
          <p class="qr">現在のランキングはこちらから<br>▼</p>
          <img src="images/View.png">
          <%= image_tag 'View.png' %>
          <p>
            名前<br />
            <input type="text" class="name" value= <%= @name %> />
          </p>
          <p>
            メールアドレス<br />
            <input type="email" class="email" value= <%= @email %> />
          </p>
          <p>
            スコア<br />
            <input type="text" class="speed" value= <%= @score %> />
          </p>
          <a href="/" class="btn bgleft confButton"><span>TOPへ</span></a>
        </form>
      </article>
      <canvas id="waveCanvas"></canvas>
    </div>